In [141]:
import pandas as pd
import numpy as np

In [142]:
df_json = pd.read_json("../pokemon_first.json")
df_json.head()

,Id,Name,Type 1,Type 2,Abilities,Category,Height (ft),Height (m),Weight (lbs),Weight (kg),...,Egg Steps,Exp Group,Total,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed,Moves
0,1,Bulbasaur,Grass,Poison,"[Overgrow, Chlorophyll]",Seed Pokémon,"2'04""",0.7,15.2,6.9,...,5120,Medium Slow,318,45,49,49,65,65,45,"{'Tackle': {'Type': 'Normal', 'Level': '—', 'P..."
1,2,Ivysaur,Grass,Poison,"[Overgrow, Chlorophyll]",Seed Pokémon,"3'03""",1.0,28.7,13.0,...,5120,Medium Slow,405,60,62,63,80,80,60,"{'Tackle': {'Type': 'Normal', 'Level': '—', 'P..."
2,3,Venusaur,Grass,Poison,"[Overgrow, Chlorophyll]",Seed Pokémon,"6'07""",2.0,220.5,100.0,...,5120,Medium Slow,525,80,82,83,100,100,80,"{'Petal Dance': {'Type': 'Grass', 'Level': 'Ev..."
3,4,Charmander,Fire,None,"[Blaze, Solar Power]",Lizard Pokémon,"2'00""",0.6,18.7,8.5,...,5120,Medium Slow,309,39,52,43,60,50,65,"{'Scratch': {'Type': 'Normal', 'Level': '—', '..."
4,5,Charmeleon,Fire,None,"[Blaze, Solar Power]",Flame Pokémon,"3'07""",1.1,41.9,19.0,...,5120,Medium Slow,405,58,64,58,80,65,80,"{'Scratch': {'Type': 'Normal', 'Level': '—', '..."

In [143]:
df_csv = pd.read_csv("../pokemon_second.csv")
df_csv.head()

,X.,Name,Type.1,Type.2,Total,HP,Attack,Defense,Sp..Atk,Sp..Def,Speed,Generation,Legendary,Mega,Tier
0,384,Mega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,True,AG
1,94,Mega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False,True,Uber
2,115,Mega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False,True,Uber
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,False,Uber
4,150,Mega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,True,Uber

In [144]:
df_csv = df_csv[["Name", "Generation", "Legendary", "Tier"]]
df_csv.head()

              Name  Generation  Legendary  Tier
0    Mega Rayquaza           3       True    AG
1      Mega Gengar           1      False  Uber
2  Mega Kangaskhan           1      False  Uber
3           Mewtwo           1       True  Uber
4    Mega Mewtwo X           1       True  Uber

In [145]:
pokemon_df = pd.merge(df_json, df_csv, on="Name", how="inner")
pokemon_df.head()

,Id,Name,Type 1,Type 2,Abilities,Category,Height (ft),Height (m),Weight (lbs),Weight (kg),...,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed,Moves,Generation,Legendary,Tier
0,3,Venusaur,Grass,Poison,"[Overgrow, Chlorophyll]",Seed Pokémon,"6'07""",2.0,220.5,100.0,...,80,82,83,100,100,80,"{'Petal Dance': {'Type': 'Grass', 'Level': 'Ev...",1,False,RU
1,6,Charizard,Fire,Flying,"[Blaze, Solar Power]",Flame Pokémon,"5'07""",1.7,199.5,90.5,...,78,84,78,109,85,100,"{'Wing Attack': {'Type': 'Flying', 'Level': 'E...",1,False,NU
2,8,Wartortle,Water,None,"[Torrent, Rain Dish]",Turtle Pokémon,"3'03""",1.0,49.6,22.5,...,59,63,80,65,80,58,"{'Tackle': {'Type': 'Normal', 'Level': '—', 'P...",1,False,PU
3,9,Blastoise,Water,None,"[Torrent, Rain Dish]",Shellfish Pokémon,"5'03""",1.6,188.5,85.5,...,79,83,100,85,105,78,"{'Flash Cannon': {'Type': 'Steel', 'Level': '—...",1,False,RU
4,12,Butterfree,Bug,Flying,"[Compoundeyes, Tinted Lens]",Butterfly Pokémon,"3'07""",1.1,70.5,32.0,...,60,45,50,90,80,70,"{'Gust': {'Type': 'Flying', 'Level': 'Evolve',...",1,False,PU

In [146]:
pokemon_df.drop(columns=["Category", "Height (ft)", "Height (m)", "Weight (lbs)", "Weight (kg)", "Capture Rate", "Egg Steps", "Exp Group"], inplace=True)

In [147]:
full_type = []
for row in range(0, len(pokemon_df)):
    if pokemon_df.iloc[row, 3] == "None":
        full_type.append(pokemon_df.iloc[row, 2])
    else:
        full_type.append(pokemon_df.iloc[row, 2] + "/" + pokemon_df.iloc[row, 3])

In [148]:
pokemon_df["Full Type"] = full_type

In [149]:
temp_df = pokemon_df.groupby("Full Type")

avg_total = round(temp_df["Total"].mean(), 1)
avg_hp = round(temp_df["HP"].mean(), 1)
avg_atk = round(temp_df["Attack"].mean(), 1)
avg_def = round(temp_df["Defense"].mean(), 1)
avg_spa = round(temp_df["Sp. Attack"].mean(), 1)
avg_spd = round(temp_df["Sp. Defense"].mean(), 1)
avg_spe  = round(temp_df["Speed"].mean(), 1)

# ou_list = []
# for tier in temp_df["Tier"]:
#     if tier == "PU":
#         ou_list.append(tier)        
# ou_count = len(ou_list)

# ou_count = temp_df.loc[temp_df["Tier"] == "OU"].count()
# # ou_count = pokemon_df.groupby('Tier')['OU'].count()
# ou_count = pokemon_df.groupby(['OU', 'Tier']).size().unstack(fill_value=0)

type_df = pd.DataFrame({
    "Avg Total" : avg_total,
    "Avg HP" : avg_hp,
    "Avg Attack" : avg_atk,
    "Avg Defense" : avg_def,
    "Avg Sp. Attack" : avg_spa,
    "Avg Sp. Defense" : avg_spd,
    "Avg Speed" : avg_spe
})

type_df.head()

,Avg Total,Avg HP,Avg Attack,Avg Defense,Avg Sp. Attack,Avg Sp. Defense,Avg Speed
Full Type,,,,,,,
Bug,447.8,70.4,80.0,68.2,66.0,70.2,93.0
Bug/Electric,472.0,70.0,77.0,60.0,97.0,60.0,108.0
Bug/Fighting,500.0,80.0,125.0,75.0,40.0,95.0,85.0
Bug/Fire,550.0,85.0,60.0,65.0,135.0,105.0,100.0
Bug/Flying,441.4,68.2,71.2,62.5,83.0,71.0,85.5

In [150]:
temp_df = pokemon_df.groupby("Tier")

avg_total = round(temp_df["Total"].mean(), 1)
avg_hp = round(temp_df["HP"].mean(), 1)
avg_atk = round(temp_df["Attack"].mean(), 1)
avg_def = round(temp_df["Defense"].mean(), 1)
avg_spa = round(temp_df["Sp. Attack"].mean(), 1)
avg_spd = round(temp_df["Sp. Defense"].mean(), 1)
avg_spe  = round(temp_df["Speed"].mean(), 1)

mode_type = temp_df["Full Type"].agg(lambda x:x.value_counts().index[0])
mode_gen = temp_df["Generation"].agg(lambda x:x.value_counts().index[0])

tier_df = pd.DataFrame({
    "Avg Total" : avg_total,
    "Avg HP" : avg_hp,
    "Avg Attack" : avg_atk,
    "Avg Defense" : avg_def,
    "Avg Sp. Attack" : avg_spa,
    "Avg Sp. Defense" : avg_spd,
    "Avg Speed" : avg_spe,
    "Most Common Type" : mode_type,
    "Most Common Gen" : mode_gen
})

tier_df

,Avg Total,Avg HP,Avg Attack,Avg Defense,Avg Sp. Attack,Avg Sp. Defense,Avg Speed,Most Common Type,Most Common Gen
Tier,,,,,,,,,
BL,533.5,84.3,90.2,82.5,89.3,86.3,101.0,Psychic/Fire,5
BL2,510.8,76.8,92.2,89.6,88.7,81.9,81.6,Dark,6
BL3,530.0,70.0,85.0,65.0,105.0,85.0,120.0,Grass,3
BL4,466.5,90.4,89.1,83.0,75.0,70.8,58.2,Fighting,5
NU,484.4,79.0,89.5,86.3,76.6,78.1,74.9,Normal,1
OU,533.5,88.4,95.2,90.1,89.3,86.5,84.0,Electric/Flying,4
PU,452.2,74.2,80.7,76.1,74.2,76.8,70.2,Normal,3
RU,497.6,77.9,90.9,83.3,79.9,90.1,75.4,Normal,5
UU,524.6,89.1,93.6,86.2,87.6,88.0,79.9,Normal,5
Uber,642.0,96.0,117.1,101.1,124.0,102.3,101.5,Psychic,4